*

!model/
!config/
!config_weibo/
!utils/
!tx_data/
!tx_data_weibo/
!texar-0.2.1/

!preprocess/data_utils.py
!preprocess/convai2/candi_keyword.txt
!preprocess_weibo/data_utils.py
!preprocess_weibo/convai2/candi_keyword.txt

!save/neural_dkr/
!save_weibo/neural_dkr/

!target_chat_for_server.py
!toc_api.py